body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(45deg, #8665ff, #302c35, #e0e0e0, #2861ff);
    background-size: 400% 400%;
    animation: gradientAnimation 25s ease infinite; /*tempo de lupe*/
    height: 100vh; /* Para garantir que ocupe toda a altura da tela */
    margin: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.fieldsetcomun{
    border-radius: 15px;
    width: 300px;
    border: 0;
}

.linkcomun{
    text-decoration: none;
}

.botaocomun{
    border-radius: 10px;
    border: 0;
    background-color: rgb(238, 238, 238);
}

.div1{
    margin: 10px 300px;
}

.semfim{
   
    border: 0;
    margin: -11px;
    background-color: rgb(255, 255, 255);

}

a {
    text-decoration: none;
    color: black; 
}

.opcao{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 300px;
    border: 0;
    
}

.textt{
    margin: 10px;
    border-radius: 15px;
    border: 0;
    background-color: white;
}

